body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  color: white;
}

.logo h1 {
  color: rgb(135, 244, 26);
  font-size: 48px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 60px 68px 40px;
  border-radius: 4px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.login-form h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 16px;
  margin-bottom: 14px;
  background: #333;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
}

.login-form button {
  background-color: #5ef630;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background-color: #12f69f;
}

.login-form label {
  color: #b3b3b3;
  font-size: 13px;
  margin-top: 12px;
  cursor: pointer;
}
.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  font-size: 13px;
  color: #b3b3b3;
  gap: 20px;
}

.login-options a.forgot {
  color: #b3b3b3;
  text-decoration: none;

}

.login-options a.forgot:hover {
  text-decoration: underline;
  color: #91f373;
}
