.quantity-control {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary); /* Green border */
  border-radius: 999px;
  padding: 4px 7px;
  background-color: var(--secondary-bg);
  gap: 0.5rem;
  height: 38px;
  width: 100px;
  box-sizing: border-box;
  font-size: 0.95rem;
}

.quantity-control button {
  background-color:  var(--secondary-bg); /* green background */
  color: var(--cta-text);          /* white text */
  border: none;
  padding: 2px 6px;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-control button:hover {
  background-color: #276c2a; /* darker green hover */
}
