.home {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding-top: 1px; /* in case navbar is fixed */
}

.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.gif-container img {
  max-width: 600px;
  height: auto;
}
